# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
*.env

# Virtual env
venv/
.env/
.venv/
pip-wheel-metadata/
*.egg-info/

# Logs
*.log

# Streamlit cache
.streamlit/

# Docker
*.tar
*.img

# Test / coverage
htmlcov/
.coverage
.pytest_cache/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Node stuff (if you add JS frontend later)
node_modules/
